/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-qls-query-loop-shortcode {
	border: 1.5px solid black;
	border-radius: 2px;
	padding: 1em;
}
